html
  head
    if title
      title #{title}
    else
      title Express Course
    meta(name="viewport" content="width=device-width, initial-scale=1")
    block css

      link(href="/css/application.css", rel="stylesheet")
      link(href="/css/main.css", rel="stylesheet")
      link(rel="shortcut icon" href="img/favicon.png")
    block js
  body
    main.grid
      block header
        .grid
          header.grid__col--12.panel--padded--centered
            a(href="/")
              h1 😑 Express Course
            .navbar
              ul.nav(role="navigation")
                li.nav__item
                  a(href="/register") Register
                li.nav__item
                  a(href="/login") Login
        if user
          h1 #{user.username}
      block messages
        if locals.flashes
          .grid
            .flashes.grid__col--7.panel--padded.centered
              - const categories = Object.keys(flashes)
              each category in categories
                ul.flashes
                  each message in flashes[category]
                    li(class=`flash-${category}`)!= message
      block content

      footer.footer.grid__col--12.panel--padded--centered
          block footer
            .copyright &copy; 2017 Express Course
