html
  head
    if title
      title #{title}
    else
      title Express Course
    block css
      link(href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic", rel="stylesheet")
      link(href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css", rel="stylesheet")
      link(href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css", rel="stylesheet")
      link(href="http://milligram.io/styles/main.css", rel="stylesheet")
    block js
  body
    main.wrapper
      block header
        nav.navigation
          .container
            a.navigation-title(href="/")
              h1.title Express Course
            ul.navigation-list.float-right
              li.navigation-item
                a.navigation-link(href="/register")
                  p Register
              li.navigation-item
                a.navigation-link(href="/login")
                  p Login
        if user
          h1 #{user.username}
        .wrapper
          .section.text-center(style="padding: 64px")
      .container
        block content

      .footer.footer
        .container
          block footer
            .copyright &copy; 2017 Express Course
