extends layout

block content
  h2.grid #{title}
  .grid
    .centered.grid__col--7
      form(action="/register" method="POST")
          input(type="text" placeholder="Your beautiful name" name="name" class="form__input")
          input(type="email" placeholder="Your email address" name="email" class="form__input" required)
          input(type="password" placeholder="Your super secret password" name="password" class="form__input" required)
          input(type="password" placeholder="Confirm your super secret password" name="confirmPassword" class="form__input" required)
          input.form__btn(type="submit" value="Register")

