extends layout

block content
  h3.title #{title}
  .example
    form(action="/register" method="POST")
      fieldset
        input(type="text", placeholder="Your beautiful name", name="name", required)
        input(type="email", placeholder="Your email address", name="email", required)
        input(type="password", placeholder="Your super secret password", name="password", required)
        input(type="password", placeholder="Confirm your super secret password", name="confirmPassword", required)
        button.btn.btn-primary.btn-round.btn-block.btn-lg(type="submit") Register

